@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%)
}
}

.animate-marquee{
    animation: marquee 35s linear infinite;
}

.high-contrast{
    background:#000 !important;
    color:#fff !important;
}

.high-contrast section{
    background:#000 !important;
}

.high-contrast h1,
.high-contrast h2,
.high-contrast h3,
.high-contrast h4,
.high-contrast p,
.high-contrast span,
.high-contrast a{
    color:#fff !important;
}

.high-contrast button{
    border:2px solid #FFD700;
}



